# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma (Database)
DATABASE_URL="postgresql://postgres:docker@localhost:5432/nest-clean?schema=public"

PORT=3333

# Auth (JWT)
JWT_PRIVATE_KEY="LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tDQpNSUlFdmdJQkFEQU5CZ2txaGtp
Rzl3MEJBUUVGQUFTQ0JLZ3dnZ1NrQWdFQUFvSUJBUURDME41TnlvRVF1ek9FDQpT
bmpRYWxBSzIwSWpxL3B1bDVoVm02WWxpTmgrcm5uU21SV1h2R3BBaGFYclFYbTdM
UlQ4cm1nK0Z2SVRuWVhWDQpiblUrcDl5MGI2OEZEZFduY0FiVGZSZlRkWVBBbXpK
NDIwUWhVSEhJZlBjemVObWNLQ2ZiMlF1elNTV0pZNVduDQpjMGRibzFLMWs5a3V3
MytvQ1Q4K0wrVVduNWp6NGdqMlBSaXp5aVRYMkV3amFuZVk5Y2d1MHZ3amFiZEF5
dlB4DQowcitLWWJnU1F2TU9XR1pSaDNKVExKQ0ZHQ0U0SEtwck9lcHIwY1pVcXZK
QXU2VjhNNmd3OGwxQ3RvWFlYVFFuDQplZFlKc2VnM2x4MFFKbk9PczFPNGVpekdB
N2t6NUVUK2VjdjdLQkJnWkFXSTdPdmFtZGd0VlJHV1N1cHl3OVB0DQpkaEY1eFBX
cEFnTUJBQUVDZ2dFQUVVVzRkL2dzMGtGdXMxdHc4N1dCVEQwZFU1RlRYa3ZGZjAy
U0FRRHRoT25PDQpOanhKWEU4aHNuL0c4cUUyL0QvbWZQS3ZubFdsZDlTL0FXbk9M
bFJ1cm5hNmN6M0RSQm1jR1ZNZGNpdVlsMUtMDQpPb2ppTlB2dllxR2x2eVFIVXgr
Q1RTMGtxdXdnemxvTWNqQzMwbW1jRXlvOUZyYlJraUhqd0EwNkIvUDFlU1hZDQo1
QzhkejgxcW1TYmQyVytTUS9HRk1BR1lxZ2NZZjZITHd2SVNDcGtra25ud1BRTFox
U01mTTZTdjNhbU13MGRPDQpTOUQzNDloTnZrZHpFekovdFd4alU0UllwME9KckN0
RkN0MGpwOEs3UWRIMDJoQTFlN0FMQUZDamJ5N25wQXl0DQpXV2VhNE1kOWs4UVcx
NTNVVzNONG5IdVJXSllwbG94YkZKMGZuTDlKNlFLQmdRRDVKak9uS05iWUJ4b2xy
aDk2DQo2ZlByaUYrY25ERXBQeUZZWlQxVS81L3c1MGVwZjN5cnhVY1FWZEV2dGVq
N011cmo2eXRhNHo5WE4zdTFBYlpyDQoyRjJ6R0gzaHZMVzk2Qjh6NWRWdW01eWtQ
NTFFOWE2c0IzTFBNTXFCMVRtMG5SU3lnR3RKYU5VNU1EZEF6MkFhDQoxcnB2bVVU
aU1jVDFXa2p0L2Q0ZUlhSE92UUtCZ1FESUxEVE1CUkhRa1greW5hejhUdmhMcDFH
L3o5YmdhRUxUDQpHSXExNndtM3JSdGZ6MFIyUEhiUzRJYVpUR3haUHRkdVNsYWIx
WDB4c1huUWFvQ29oQXNsaXFzUUpob2VCTjBzDQpnY2hydFVPWGhjL1R2YUo0UUEy
SXVNaHEzYWNuVkx0SnRHZUtCY01FM1g0TkR5dG5yb1I5NGUyYlpQeEtPby9CDQpD
ZDJDS2g5M1hRS0JnRzYwU3I4N3Bqclc3UWRSRnl2R1NGdWZmTnhaaW42SlRvZTRk
RWdRVFVEOWd4b05TNWdIDQpVRXd4MVlFZGt5Z0t0OVFONm5XNEE2ejlPanB6U0Zz
akNIOUxvcU5xOWxZcmpiSEJyZFEzMEtJcW9mYkNNNXE4DQp0SWJiWngvSlhwcWlN
VkFmUDR5ZXlCOWhEU3YrK1BUejlHTWg5em1LWTdtaEpFYWJSdGFjbXdrQkFvR0JB
SWhKDQp1T1RUNnM0ejBscjlpZ0w3allpTThsY0Rub3lKMEQzRDd1VnZrdDB4Q250
UU5vKytHVFQ0MUF2YUFjYzl4eFg3DQpuVDVhdS9PeW4zcXNtTTZqb0tjOTQ3eUtC
S3c5cVkwZERDVnhkQVRkZ2FQcjhJdXBLTTNXNmZZQTFrY3NKSnhKDQpMVm5IRklI
aWdHbEowOGF6QnRoaWxCR0NUMWdHeVV1b2VOMmY2bTZ0QW9HQkFNdUZTeGg1WWox
WnVIMXVEeTZFDQovdGorSVdQU3NpTnZ2MXFuT3NYTGdOSGM5azZuOGhBUUpaWHFC
WGJPZ0pvVE1iOFpObU5PMC9VQUlxZklmTFg5DQpPQVFoQVhQVHI4WnpCVzJ0OW9j
eldQL0txazkzU21MYnZzYW9LSGpjK1ZvRUZXSnZoWkVralZROUZ5cVphSVA5DQow
bU00TjJmem1QaC90Z3ZZR21vYU5TekYNCi0tLS0tRU5EIFBSSVZBVEUgS0VZLS0t
LS0NCg==
"
JWT_PUBLIC_KEY="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUJJakFOQmdrcWhraUc5dzBC
QVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBd3REZVRjcUJFTHN6aEVwNDBHcFENCkN0
dENJNnY2YnBlWVZadW1KWWpZZnE1NTBwa1ZsN3hxUUlXbDYwRjV1eTBVL0s1b1Bo
YnlFNTJGMVc1MVBxZmMNCnRHK3ZCUTNWcDNBRzAzMFgwM1dEd0pzeWVOdEVJVkJ4
eUh6M00zalpuQ2duMjlrTHMwa2xpV09WcDNOSFc2TlMNCnRaUFpMc04vcUFrL1Bp
L2xGcCtZOCtJSTlqMFlzOG9rMTloTUkycDNtUFhJTHRMOEkybTNRTXJ6OGRLL2lt
RzQNCkVrTHpEbGhtVVlkeVV5eVFoUmdoT0J5cWF6bnFhOUhHVktyeVFMdWxmRE9v
TVBKZFFyYUYyRjAwSjNuV0NiSG8NCk41Y2RFQ1p6anJOVHVIb3N4Z081TStSRS9u
bkwreWdRWUdRRmlPenIycG5ZTFZVUmxrcnFjc1BUN1hZUmVjVDENCnFRSURBUUFC
DQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0NCg==
"

# Upload (AWS / Cloudflare)
CLOUDFLARE_ACCOUNT_ID=""
AWS_BUCKET_NAME="ignite-nest-test"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""