# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:docker@localhost:5432/fast_feet_db?schema=public"
PORT=3333
JWT_PUBLIC_KEY="LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJB
UUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUF6VXVuYzJlTVE3OGpUWXluak90dApUQlli
dEZkYnNFaHlBdk94YkNuazZKN1VYcGxpSEk1c3RTSmdlemN5aDkzRFJoZ29jc29i
TUJXUWZpVWhXeU10CnBNdENXdG0zcGY5UXltMi9qN3NJZXg1UU5hWkk4YUpRd1ll
MzY4UzI5eEhoblNVU0RWL1p2YTYrVmczRTRmbFYKYkVQRTFNZHB5d1o1TzA0eFNU
MnNvcUZ5RjlpeTNwL3RIUExVeUMvOEJnOCtHeGtXdndXWkZtUCs3Z3I0VHJpdwpj
dHcyVHBlY3hvVVFzRU5sKzRTMmswZHBEVUJWY2p3aThiaTBGSlRscjFpNzNqNitV
MWd4dUJiWU1VeDV4K2JJCisyOWZKTjZyOTFuNWJ5UlNiR2pZTTRpMWpVSmZnY1Iz
bWpRUnlIM1FQZm5tSDU0SnB1YWVnUHBjbFVtaExhZHcKRFFJREFRQUIKLS0tLS1F
TkQgUFVCTElDIEtFWS0tLS0tCg=="
JWT_PRIVATE_KEY="LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2UUlCQURBTkJna3Foa2lH
OXcwQkFRRUZBQVNDQktjd2dnU2pBZ0VBQW9JQkFRRE5TNmR6WjR4RHZ5Tk4Kaktl
TTYyMU1GaHUwVjF1d1NISUM4N0ZzS2VUb250UmVtV0ljam15MUltQjdOektIM2NO
R0dDaHl5aHN3RlpCKwpKU0ZiSXkya3kwSmEyYmVsLzFES2JiK1B1d2g3SGxBMXBr
anhvbERCaDdmcnhMYjNFZUdkSlJJTlg5bTlycjVXCkRjVGgrVlZzUThUVXgybkxC
bms3VGpGSlBheWlvWElYMkxMZW4rMGM4dFRJTC93R0R6NGJHUmEvQlprV1kvN3UK
Q3ZoT3VMQnkzRFpPbDV6R2hSQ3dRMlg3aExhVFIya05RRlZ5UENMeHVMUVVsT1d2
V0x2ZVByNVRXREc0RnRneApUSG5INXNqN2IxOGszcXYzV2ZsdkpGSnNhTmd6aUxX
TlFsK0J4SGVhTkJISWZkQTkrZVlmbmdtbTVwNkErbHlWClNhRXRwM0FOQWdNQkFB
RUNnZ0VBQU8rdFZXNXU4QXZ2QndiUGt6OVFYZjFYUG1kbkw1djNvd0crTVExSEE4
aFkKWjdTU2FhWjF2WXRKc013MC9UNGxBZ0NvK3Iyb2ttcVpiVEhZd1N5R2ZEMjRx
WWxMTTlCdWJtUWY4R1k3V1Y2Ywo0R01BMlhnWndVVXE1dktMV1Q1ZXRkMldqdkY2
ZGg4R1V0dVdlL0xrM2tyRFhHRkhhVGp4QTErTU1aSThtWVpJCndqc0crYksvODhq
TzBkTTdtakZJTFp0d0ZieElTNU9kd2dPWm9UNm0vSkFublNuemtKS00yNnhuYkRh
dUwyRGYKcWJIYk9oREd3S2VDNWkydnh6dDJnSDRkMWluYjNOUE1kbGFTZHpVV1dY
TGIxUlVYZGhZQlFrVzRVWmJsQ0dCUQpuc1d1dEtUb0haemlrRVdBRUpNQ2I0NUd3
NzQ3Sk1pbkM4VzZqV0lxUXdLQmdRRHNwNzAzQXNGeE8rZlVYVFBLCnlBaDgyUkc2
QXd0MkpDcE5lKzhwUHp1cVdjdis3NWRyZlVmeEF1TEZtQXZIc3ZTYVNoSW9KUHIz
V1lIV1J3NGMKSlFJN1R2VGRlMDR4TkZSQ0hvNzQ2Mlhqa3kvVWRJcitTNGpsY1l2
cDlXcngvbzNpUElQcjBhTHM0ajF0SlZwZwpuTDBzN0h5QnlWT3Jkeld6YWlxRmlG
TGUrd0tCZ1FEZUU2NFNBYyttclRmd0ZqejRmVUNZcUdqTG55UEpGNnBPCnkxUkdM
UXR3YmJodzNldjBLQXlsWm9sRWl3MGY3eHc2Mng1UUFzZlpuZDZ1MDJSRy8xV1BL
eC9mbUYrcjVDQUwKR2d4bi9lSFRtVGRWMHdGdXRNK09GZkJwSWVnNm1jOS9TbVRQ
ZWZ5K3dxUWFSdkI2cDBZbjRuUW8yOXJyV3N6Rgp2SWF3bU1XZWx3S0JnRk1wWnM2
TUExbzlTT3hSakQrNEozTm4vRmkzZFRHZzU5U3V0bzV5RUE5KzJyYk5qeEpRCnho
VWxoSGNYUlJ4NkFJYXZmTTNxb042Rzc1OVMvTnhiRFB1MmRVblhhTlRWcEw1UGFz
S0NSaDNBdlZBVlhEcWMKWkpEc1k5UmxUNTJXYkZtU0ZuR3FDMnplMitNYyt6TjBJ
TzVHZEVKUGN6MlArS2tCcDh1ZzZpNDlBb0dCQUlhTApFOFhURlJRZEU2dkFQVllx
eEN6NHN1elNVR0x2bEgzQ1VCOW9BT3N2ZmpQYkw2MnZhZUgzV2lpTnVmamo2NDE0
CjNVZUtON3dQR2k5KzROem1xdFpmUVNNODlKRjJWemVDbzR1SlUvelhjWi9zZzR5
bnZLdVBmU1NrcDBhQmt5WEMKVTRzams4MmFyTU5Dd1VUOS9OSURMMjdsckI4MDFx
VGgwQlJEcWs2bkFvR0FON1I1NDM3RzZvVXJ5VXc4THNIWQpTdHhvUUlIVytzQUp2
WitoUEwrRDJURjVqZkE5L0FwNEluNExrdFd4cGVwZk5WdDdibkFURkQvRXhULzNS
OHVOClk3NXRDYXlDazFHdWJaSTVYS3hzd0ZUZzZUVmRyL0Y2bktaV0FhaGgxUDRB
ZzgxYWhmeUg4L0FpSGFITWg2aDgKZlI0K0s4QUxSbjNLS3Y4VkR5WWdHN2M9Ci0t
LS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0K"
